#Highway{
    color: blue;
    background-color: chartreuse;
}

.fruit{
    color: crimson;
    background-color: darkgreen;
}

.vegetables{
    color: cornflowerblue;
    background-color: darkmagenta;
}